{# SproutPHP Component: navbar.twig #}
<div class="component navbar">
	<nav>
		<ul>
			<li>
				<strong class="">
					<img src="{{ assets('img/logo.png') }}" width="22px"/>
					SproutPHP
				</strong>
			</li>
		</ul>
		<ul>
			<li><a href="#">About</a></li>
			<li><a href="#">Docs</a></li>
			<li><a href="#"><img src="https://img.shields.io/github/stars/sproutphp/framework?style=social&link=https%3A%2F%2Fgithub.com%2FSproutPHP%2Fframework"/></a></li>
		</ul>
	</nav>
</div>
