{# SproutPHP Component: navbar.twig #}
<div class="component navbar">
	<nav>
		<ul>
			<li>
				<a href="/" hx-boost="false" target="_self" style="text-decoration: none; color: #ffffff;">
					<img src="{{ assets('img/logo.png') }}" alt="SproutPHP Logo" width="32" height="32" style="vertical-align:middle;"/>
					<span style="font-weight:bold;font-size:1.2rem;vertical-align:middle;">SproutPHP</span>
				</a>
			</li>
		</ul>
		<ul>
			<li><a href="#">About</a></li>
			<li><a href="#">Docs</a></li>
			<li><a href="https://github.com/sponsors/yanikkumar"><img src="https://img.shields.io/badge/Sponsor%20Creator-%E2%9D%A4%EF%B8%8F-pink?logo=github-sponsors"/></a></li>
			<li><a href="#"><img src="https://img.shields.io/github/stars/sproutphp/framework?style=social&link=https%3A%2F%2Fgithub.com%2FSproutPHP%2Fframework"/></a></li>
		</ul>
	</nav>
	<hr/>
</div>
