<!DOCTYPE html>
<html>
	<head>
		<title>404 - Not Found</title>
		<link rel="stylesheet" href="{{ assets('css/sprout.min.css') }}">
		<style>
			body {
				display: grid;
				place-items: center;
				height: 100vh;
				text-align: center;
			}
		</style>
	</head>
	<body>
		<main>
			<h1>🚫 403 Forbidden</h1>
			<p>You do not have permission to access this resource.</p>
		</main>
	</body>
</html>
