<!DOCTYPE html>
<html>
	<head>
		<title>404 - Not Found</title>
		<link rel="stylesheet" href="{{ assets('css/sprout.min.css') }}">
		<style>
			body {
				display: grid;
				place-items: center;
				height: 100vh;
				text-align: center;
			}
		</style>
	</head>
	<body>
		<main>
			<h1>🌾 404</h1>
			<p>The page you’re looking for doesn’t exist.</p>
		</main>
	</body>
</html>
