{% extends "layouts/base.twig" %}
{% block title %}validation-test{% endblock %}

{% block content %}
    <h1>Validation Test Form</h1>
    <div id="form-container">
        {% include "partials/validation-form.twig" %}
    </div>
{% endblock %}
